 
img {
   height: 150px;
   width: 150px;
   border-radius: 50%;
   object-fit: cover;
   background: #ddd;
   margin: 100px 0 0 120px;
}
label {
   cursor: pointer;
   padding: 10px 30px;
   border-radius: 10px;
   color: #fff;
   font-size: 18px;
   position: absolute;
   top: 40%;
   left:35%;
background-color: #222;
}
#file {
   display: none;
}